/*
布局用CSS
CopyRight @tdh
*/



html,body,#main-body,.el-container,.login-window {
    /*页面占满整个布局*/
    padding: 0;
    margin: 0;
    height: 100%;
}

.login-form{
    padding: 10%;
}

.login-card{
    width: 700px;
}

.upload-save-tips-div{
    margin-top: 5px;
    margin-bottom: 5px;
}

/*
档窗口宽度小于 992 px 时隐藏左侧栏
 */
@media only screen and (max-width: 992px) {
    #article_aside_outer {
        display: none;
    }
}

@media only screen and (min-width: 1102px) {
    #article_center {
        max-width: 90%;
    }
}

