/*
布局用CSS
CopyRight @tdh
*/

html,body,#main-body,.el-container,.login-window,#article_main {
    /*页面占满整个布局*/
    padding: 0;
    margin: 0;
    height: 100%;
}
el-container{
    margin-bottom: 7px;
}
/*---------------------------------页眉内容----------------------------------*/
.header-row{
    width: 100%;
}
#site-header{
    margin: 0 calc(5% + 60px);
}
.site-titles{
    text-align: left;
    height: 50px;
    margin-top: 10px;
}
.site-title{
    font-size: 2em;
    color: black;
    font-weight:300;
}
.site-sub-title{
    font-size: 1.5em;
    font-weight:400;
}
.site-header-map{
    height: 40px;
    text-align: left;
    /*margin-left: 30px;*/
}
.el-menu{
    --el-menu-hover-bg-color:#fff!important;
    --el-menu-item-height: 30px;
}
el-menu-item{
    font-size: 1em;
}
#site-footer{
    height: 40px;
}
.t-footer{
    padding-top: 8px;
}
/*---------------------------------------------------------------------------*/

.index-banner{
    height: 200px;
}
#index-main{
    display: inherit;
    width: 100%;
    min-height: 400px;


    max-width: 90%;
    margin: 0 5%;
    padding: 20px 60px 0;
}
.el-carousel__container{
    height: 200px;
}
.article_main{
    max-width: 90%;
    margin: auto;
}
.login-form{
    padding: 10%;
}

.login-card{
    width: 700px;
}

.upload-save-tips-div{
    margin-top: 5px;
    margin-bottom: 5px;
}

.markdown-body{
    padding: 20px 0;
}

/*
档窗口宽度小于 992 px 时隐藏左侧栏
 */
@media only screen and (max-width: 992px) {
    #article_aside_outer {
        display: none;
    }
}

@media only screen and (min-width: 1102px) {
    #article_center {
        max-width: 90%;
    }
}

