<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>发布新文章</title>
    <script src="../../global/settings.js"></script>

    <script type='text/javascript' src='/global/js/md5.js'></script>
    <script type='text/javascript' src='/global/js/hmac-sha1.js'></script>
    <script type='text/javascript' src='/js/common.js'></script>

    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../../component/editor/css/editormd.css">
    <link rel="stylesheet" href="../../component/editor/css/style.css">
    <link rel="stylesheet" href="../../global/css/element-plus.css">
    <link rel="stylesheet" href="../../css/words.css">
    <link rel="stylesheet" href="../../css/layouts.css">

    <script type="application/javascript" src="/global/js/axios.js"></script>
    <script type="application/javascript" src="/global/js/vue.global.js"></script>
    <script type="application/javascript" src="/global/js/element-plus.full.js"></script>

    <script type="application/javascript" src="/global/js/jquery.min.js"></script>
    <script type="application/javascript" src="/component/editor/js/editormd.js"></script>

    <script src="../../component/storage/local.js"></script>
    <script src="../../component/storage/COS.js"></script>

    <script src="../../component/storage/remote.js"></script>
    <script type="application/javascript" src="/js/articleupload.js"></script>

    <script src="../../component/editor/patch.js"></script>
    <script src="../../js/headerAndFooter.js"></script>


</head>
<body>

<div id="uploader">

    <el-container v-loading="loading">
        <el-header height="100px" tag="div" id="site-header">
            <el-container>
                <el-row align="middle" class="header-row">
                    <el-col :span="1">
                    </el-col>
                    <el-col :span="20" class="site-titles" >
                        <h1><span class="site-title" v-text="site_info.site_title"></span>
                            <span class="site-sub-title"> —— {{site_info.site_sub_title}}</span></h1>
                    </el-col>
                    <el-col :span="3">
                    </el-col>
                    <el-col class="site-header-map" :span="20">
                        <el-menu default-active="1" class="el-menu-demo" mode="horizontal">
                            <el-menu-item index="1">首页</el-menu-item>
                            <el-menu-item index="2">文章</el-menu-item>
                            <el-menu-item index="3">关于</el-menu-item>
                            <el-menu-item index="4">联系</el-menu-item>
                        </el-menu>
                    </el-col>
                </el-row>
            </el-container>
        </el-header>
        <el-main>
            <h1>
                {{page_title}}
            </h1>
            <br />
            <el-form label-width="100px">
                <el-form-item label="文章 ID：" v-show="!staticfile">
                    <el-input v-model="newarticle.aid" disabled></el-input>
                </el-form-item>
                <el-form-item label="固定链接：" v-show="staticfile">
                    <el-col :span="18">
                        <el-input placeholder="固定链接" v-model="newarticle.staticlink"
                                  :disabled="newarticle.static_link_seted||static_setting||static_deleting"></el-input>
                    </el-col>
                    <el-col :span="1">
                        .{{saveto}}
                    </el-col>
                    <el-col :span="5">
                        <el-button :type="static_btn_type" :loading="static_setting"
                                   @click="set_static_link" v-if="!newarticle.static_link_seted">设置</el-button>
                        <el-button :type="del_static_btn_type" :loading="static_deleting" v-if="newarticle.static_link_seted">删除</el-button>
                    </el-col>
                </el-form-item>

                <el-form-item label="文章标题：">
                    <el-input placeholder="输入文章标题" v-model="newarticle.atitle" clearable></el-input>
                </el-form-item>
                <el-form-item label="作者：">
                    <el-input placeholder="输入作者" v-model="newarticle.author" clearable></el-input>
                </el-form-item>

                <el-form-item label="文章类型：">
                    <el-radio-group v-model="staticfile">
                        <el-radio :label="false">普通文章</el-radio>
                        <el-radio :label="true">固定链接</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="保存格式：">
                    <el-radio-group v-model="saveto">
                        <el-radio :label="'md'">MarkDown</el-radio>
                        <el-radio :label="'html'" v-if="staticfile">HTML</el-radio>
                    </el-radio-group>
                </el-form-item>
                <el-form-item label="时间：">
                    <el-date-picker placeholder="发布日期" type="date" v-model="pubtime" clearable></el-date-picker>
                </el-form-item>
                <el-form-item label="分类：" v-if="!staticfile">
                    <el-select v-model="newarticle.aclass" class="m-2" placeholder="选择分类" size="large">
                        <el-option
                                v-for="item in aclass_list"
                                :key="item.cid"
                                :label="item.cname"
                                :value="item.cid">
                        </el-option>
                    </el-select>
                </el-form-item>

                <div style="padding-left: 20px">
                    <el-row>
                        <el-button type="primary" @click="save_cg" plain>保存草稿</el-button>
                        <el-button type="warning" @click="load_cg" plain>读取草稿</el-button>
                        <el-button type="success" @click="openbed" plain>打开图床</el-button>
                    </el-row>
                    <div class="upload-save-tips-div">
                        <p class="upload-save-tips" :style="{color:tipscolor}" v-html="tips"></p>
                    </div>
                    <div id="md-editor">
                        <textarea id="artinfos" style="display: none;"></textarea>
                    </div>
                </div>

                <el-form-item label="特色图像：">
                    <el-col :span="17">
                        <el-input placeholder="特色图像 URL" v-model="newarticle.spimg" clearable></el-input>
                    </el-col>
                    <el-col :span="2">上传：</el-col>
                    <el-col :span="4">

                    </el-col>

                </el-form-item>
                <el-form-item label="SEO关键字：">
                    <el-input placeholder="关键字，用英文逗号隔开" v-model="newarticle.keyword"></el-input>
                </el-form-item>
                <el-form-item label="SEO描述：">
                    <el-input placeholder="描述内容" v-model="newarticle.describe"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button @click="save_article">提交</el-button>
                </el-form-item>
            </el-form>
        </el-main>
        <el-footer id="site-footer">

        </el-footer>
    </el-container>
</div>
<style>
    <!--
    /*.CodeMirror-foldgutter {*/
    /*    width: .7em !important;*/
    /*}*/
    /*.CodeMirror-sizer{*/
    /*    margin-left: 4em !important;*/
    /*}*/
    -->
</style>
<script type="application/javascript">
    v_app = upapp.mount("#uploader")
    let MDEdit;

    MDEdit = editormd("md-editor", {
        width: "95%",
        height: 740,
        path : '/component/editor/lib/',
        theme : "dark",
        previewTheme : "dark",
        editorTheme : "pastel-on-dark",
        markdown : "",
        placeholder : "对，就是你，准备好了吗？",
        codeFold : true,
        syncScrolling : true,
        saveHTMLToTextarea : true,    // 保存 HTML 到 Textarea
        searchReplace : true,
        //watch : false,                // 关闭实时预览
        htmlDecode : "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
        //toolbar  : false,             //关闭工具栏
        //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
        emoji : true,
        taskList : true,
        tocm            : true,         // Using [TOCM]
        tex : true,                   // 开启科学公式TeX语言支持，默认关闭
        flowChart : true,             // 开启流程图支持，默认关闭
        sequenceDiagram : true,       // 开启时序/序列图支持，默认关闭,
        //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
        //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
        //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
        //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
        //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
        imageUpload : true,
        imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
        imageUploadURL : "./php/upload.php",
        onload : function() {
            // 设置快捷键
            const keyMap = {
                "Ctrl-S": function (cm) {
                    v_app.save_cg()
                    return false
                }
            }
            this.addKeyMap(keyMap)
            const st = getQueryVariable("type")
            if (st === "static"){
                const stlink = getQueryVariable("link")
                if (stlink == null){
                    // 新静态文章
                    v_app.new_article = true
                    v_app.staticfile = true
                    v_app.loading = false
                }
                else{
                    v_app.load_static(stlink)
                }
            }
            else{
                // 普通文章
                // 判断编辑文章还是新建文章
                const aid = getQueryVariable("aid")
                if (aid === null){
                    // 新文章
                    // 检查草稿
                    v_app.new_article = true
                    v_app.load_cg(init=true)
                    v_app.loading = false
                }
                else{
                    // 读取文章
                    v_app.load_art(aid)
                }
            }

            // 设置自动保存 5 分钟自动保存一次
            v_app.autosave_interval = setInterval(() =>{v_app.save_cg()},300000)
        },
        disabledKeyMaps : [
            "F11", // 禁用全屏快捷键
        ],
    })
</script>
</body>
</html>