<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页图设置</title>
    <script src="/global/settings.js"></script>

    <script type='text/javascript' src='../global/js/md5.js'></script>
    <script type='text/javascript' src='../global/js/hmac-sha1.js'></script>
    <script type='text/javascript' src='../js/common.js'></script>

    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../component/editor/css/editormd.css">
    <link rel="stylesheet" href="../component/editor/css/style.css">
    <link rel="stylesheet" href="../global/css/element-plus.css">
    <link rel="stylesheet" href="../css/words.css">
    <link rel="stylesheet" href="../css/layouts.css">

    <script type="application/javascript" src="../global/js/axios.js"></script>

    <script type="application/javascript" src="../global/js/vue.global.js"></script>
    <script type="application/javascript" src="../global/js/element-plus.full.js"></script>

    <script type="application/javascript" src="/global/js/jquery.min.js"></script>
    <script src="../component/editor/lib/marked.min.js"></script>
    <script src="../component/editor/lib/prettify.min.js"></script>
    <script src="../component/editor/lib/raphael.min.js"></script>
    <script src="../component/editor/lib/underscore.min.js"></script>
    <script src="../component/editor/lib/sequence-diagram.min.js"></script>
    <script src="../component/editor/lib/flowchart.min.js"></script>
    <script src="../component/editor/lib/jquery.flowchart.min.js"></script>
    <script type="application/javascript" src="/component/editor/js/editormd.js"></script>

    <script src="../component/storage/local.js"></script>
    <script src="../component/storage/COS.js"></script>
    <script src="../component/storage/remote.js"></script>
    <style>
        div{text-align: center;margin: auto}
        body{background: #e0e0e0}
        </style>
</head>
<body>
<div id="login-main" class="login-window">
    <el-container v-loading="loading">
        <el-row align="middle">
            <el-card header="首页图设置" style="width: 700px">
                <el-form label-width="50px" class="login-window">
                    <el-table :data="banner_list" >
                        <el-table-column label="预览" width="500">
                            <template #default="scope">
                                <el-image :src="getsrc(scope.$index)"></el-image>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template #default="scope">
                                <el-button size="small" @click="change_item(scope.$index)">修改</el-button>
                                <el-button type="warning" size="small" @click="del_item(scope.$index)">删除</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <el-card header="新图片">
                        <el-form @submit.native.prevent>
                            <el-form-item label="URL" style="max-width: 500px">
                                <el-input v-model="newitemurl"></el-input>
                            </el-form-item>
                            <el-button type="primary" @click="add_item">
                                添加
                            </el-button>
                        </el-form>
                    </el-card>
                    <p v-if="!logined">请登录</p>
                    <el-button type="primary" @click="do_save" :disabled="!logined">保存</el-button>
                </el-form>
            </el-card>
        </el-row>
    </el-container>
</div>

<script type="application/javascript">
    lapp = Vue.createApp({
        data(){
            return {
                "banner_list":[],
                "loading":false,
                "newitemurl":"",
            }
        },
        computed:{
            logined(){
                return remoteStorage.get_login_status()
            }
        },
        mounted(){
            reads_remote("/settings/banner.txt",(r)=>{
                this.banner_list = r
            },true)
        },
        methods:{
            getsrc(idx){
                return this.banner_list[idx]
            },
            add_item(){
                this.banner_list.push(this.newitemurl)
            },
            del_item(idx){
                this.banner_list.splice(idx,1)
            },
            change_item(idx){
                this.banner_list[idx] = prompt("新 Banner 图 URL：")
            },
            do_save(){
                saves_remote("/settings/banner.txt",this.banner_list,"application/json",()=>{alert("保存成功")})
            }

        }
    })
    lapp.use(ElementPlus)
    v_app = lapp.mount("#login-main")
</script>
</body>
</html>